<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Menu</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div></div>
        <div class="container">
        <h1>Menu Principal</h1>
        <button onclick="window.location.href='/registro-movimentacao'">Registro de Movimentação</button>
        <button onclick="window.location.href='/listar-movimentacao'">Lista de Movimentação</button>
        <button onclick="window.location.href='/cadastro-produtos'">Cadastrar Produtos</button>
        <button onclick="window.location.href='/'">Logout</button>
    </div>
    </body>
</html>
